:root {
  color-scheme: dark;
  --bg: #006effe3;
  --panel: #07073500;
  --text: #ececf1;
  --muted: #b8b8b8;
  --accent: #3b82f6;
  --red: #ef4444;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.45); */
  z-index: 1;
}


.app::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.45); затемнение */
  z-index: 0;
}

.titlebar,
.content {
  position: relative;
  z-index: 2;
}


/* ВЕРХНЯЯ ПАНЕЛЬ — зона перетаскивания */
.titlebar {
  -webkit-app-region: drag;
  height: 44px;
  background: var(--panel);
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 8px;
  border-bottom: 1px solid rgba(10, 59, 194, 0.027);
}

.title {
  font-size: 14px;
  color: var(--muted);
  letter-spacing: .2px;
}

/* Кнопки — НЕ drag */
.window-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-app-region: no-drag;
}

.btn {
  width: 30px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid rgba(212, 212, 212, 0.08);
  background: rgba(0, 68, 255, 0.04);
  color: var(--text);
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 8px;
  line-height: 1;
  transition: transform .05s ease, background .2s ease, border-color .2s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.021);
}

.btn:active {
  transform: translateY(1px);
}

.btn-close:hover {
  background: rgba(239, 68, 68, .18);
  border-color: rgba(239, 68, 68, .4);
}

.btn-menu {
  width: 35px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid rgba(212, 212, 212, 0.08);
  background: rgba(0, 68, 255, 0.04);
  color: var(--text);
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 8px;
  line-height: 1;
  transition: transform .05s ease, background .2s ease, border-color .2s ease;
}

.btn-menu:hover {
  background: rgba(255, 255, 255, 0.021);
}

.btn-menu:active {
  transform: translateY(1px);
}

.btn-close:hover {
  background: rgba(239, 68, 68, .18);
  border-color: rgba(239, 68, 68, .4);
}

.content {
  flex: 1;
  padding: 20px 24px;
}